@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Root style */
html {
    font-size: 62.5%;
    /* normally the font size is 16px so 1rem = 16px but
    for easier calculation i have set it to 62.5% fo 16px that means now 1rem =10px
    because 62.5% of 16px is 10px */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

/* Shared styles */

.display-flex {
    display: flex;
}

.bg-lite {
    background: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    background-color: rgba(255, 144, 14, 1);
    border-radius: 8px;
    border: 1px solid rgba(255, 144, 14, 0.1);
    padding: 21px 25px;
}

.btn-primary:hover {
    color: rgba(255, 144, 14, 1);
    background-color: white;
    border: 1px solid rgba(255, 144, 14, 1);
    transition: 0.3s linear;
    cursor: pointer;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.section-description {
    color: rgba(114, 114, 114, 1);
    font-size: 1.6rem;
    line-height: 2.6rem;
    max-width: 542px;
}

.section-title {
    font-size: 4.5rem;
    margin-bottom: 24px;
    line-height: 5.4rem;
}

/* nav bar */

.navbar {
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 102px;
}

.branding {
    color: rgba(19, 19, 19, 1);
    font-size: 4.8rem; 
    /* 1 rem = 10px this has been set in the root*/
    margin-left: 5px;
}

.nav-links {
    list-style: none;
}

.nav-item {
    margin-right: 50px;
}

/* .nav-item:last-child {
    margin-right: 0;
} */

.nav-link {
    color: rgba(66, 66, 66, 1);
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none ;
}

.nav-link:hover {
    /* text-decoration: underline; */
    border-bottom: 2px solid rgba(255, 144, 14, 1);
    transition: 0.17s linear;
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner section  */

.banner-content {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    color: rgba(19, 19, 19, 1);
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 7.5rem;
    margin-bottom: 35px;
}

.banner-details {
    color: rgba(114, 114, 114, 1);
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 400;
    margin-bottom: 36px;
}

.banner-content button {
    margin-bottom: 55px;
}

.banner img {
    max-width: 100%;
    padding: 0 12px 45px 12px;
}

/* Teams section related styles */

.teams {
    align-items: center;
    gap: 76px;
    margin-top: 85px;
    margin-bottom: 130px;
    padding: 0 61px;
}

.teams-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    max-width: 537px;
}

#quick-list {
    color: rgba(114, 114, 114, 1);
    font-weight: 500;
}

#features {
    color: rgba(255, 144, 14, 1);
}

.teams > .our-features > .btn-primary {
     margin-top: 32px;
}

/* feature you will like section related styles */

.features {
    gap: 146px;
    margin-bottom: 168px;
}

#feature-details {
    margin-top: 39px;
}

.features .section-title {
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 21px;
    margin-bottom: 24px;
}

.features  #description {
    margin-bottom: 30px;
}

.featured-architect img {
    width: 100%;
}

.feature-card {
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 42px 30px 30px ;
}

.feature-card .feature-card-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 23px;
    color: rgba(19, 19, 19, 1);
    margin-bottom: 10px;
}

.features .btn-primary {
    padding: 45px 42px;
    margin-left: -92px;
    margin-top: -120px;
    border: none;
}

.features .btn-primary:hover {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    background-color: rgba(255, 144, 14, 1);
    border-radius: 8px;
}

.features #year {
    font-size: 6.5rem;
    font-weight: 700;
}

.features #experience {
    font-size: 2.5rem;
    font-weight: 500;
}

/* facts section related styles */

.facts-details {
    padding: 0 20px;
}

.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 100px auto 180px auto;
    gap: 124px;
    padding: 0 50px;
}

.fact-container .fact-card {
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 60px;
}

.fact-container .fact-card .fact-numbers {
    font-size: 4.5rem;
    font-weight: 600;
    color: rgba(66, 66, 66, 1);
}

.fact-container .fact-card .fact-name {
    font-size: 2rem;
    font-weight: 600;
    color: rgba(114, 114, 114, 1);
}

/* sponsor section related styles */

.sponsor-details {
    text-align: center;
}

.sponsor-details .section-description {
    margin: 0 auto;
    margin-bottom: 50px;
}

.sponsor .sponsor-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 155px;
    margin-bottom: 130px;
    filter: grayscale(100%);
}


/* for small device (mobile) responsive media query*/
@media screen and ( max-width: 576px) {
    .navbar,
    .teams,
    .features{
        flex-direction: column;
    }

    .navbar {
        gap: 20px;
    }

    .nav-item {
        margin-right: 30px;
    }

    .nav-item:last-child {
    margin-right: 0;
    }

    .teams {
        padding: none;
    }

    .teams-image-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features {
        /* margin-left: 40px; */
    }

    .features .section-title {
        margin-left: 10px;
    }

    .features .section-description {
        margin-left: 10px;
    }

    .features .btn-primary {
        padding: 25px 22px;
        margin-left: 30px;
        margin-top: -50px;
        border: none;
    }

    .features #year {
        font-size: 4.5rem;
        font-weight: 700;
    }

    .features #experience {
        font-size: 2.5rem;
        font-weight: 500;
    }

    .facts-details {
        padding: 0 20px;
    }

    .fact-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 100px;
    }

    .sponsor .sponsor-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 80px;
    }

    .sponsor .sponsor-container img {
        margin: 0 auto;
    }
}

/* for medium device ( tab ) responsive media query */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams {
        flex-direction: column;
    }

    .facts-details {
        padding: 0 20px;
    }
    
    .fact-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 90px;
    }

    .sponsor .sponsor-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 90px;
    }

    .sponsor .sponsor-container img {
        margin: 0 auto;
    }

    #box-5 {
        grid-column: span 2;
    }

}