@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Root style */
html {
    font-size: 62.5%;
    /* normally the font size is 16px so 1rem = 16px but
    for easier calculation i have set it to 62.5% fo 16px that means now 1rem =10px
    because 62.5% of 16px is 10px */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

/* Shared styles */

.display-flex {
    display: flex;
}

.bg-lite {
    background: rgba(255, 144, 14, 0.1);
}

/* nav bar */

.navbar {
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.branding {
    color: rgba(19, 19, 19, 1);
    font-size: 4.8rem; 
    /* 1 rem = 10px this has been set in the root*/
}

.nav-links {
    list-style: none;
}

.nav-item {
    margin-right: 60px;
}

.nav-link {
    color: rgba(66, 66, 66, 1);
    font-size: 1.8rem;
    font-weight: 500;
    /* line-height: 70px; */
    text-decoration: none ;
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}