@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Root style */
html {
    font-size: 62.5%;
    /* normally the font size is 16px so 1rem = 16px but
    for easier calculation i have set it to 62.5% fo 16px that means now 1rem =10px
    because 62.5% of 16px is 10px */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

/* Shared styles */

.display-flex {
    display: flex;
}

.bg-lite {
    background: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    background-color: rgba(255, 144, 14, 1);
    border-radius: 8px;
    border: 1px solid rgba(255, 144, 14, 0.1);
    padding: 21px 25px;
}

.btn-primary:hover {
    color: rgba(255, 144, 14, 1);
    background-color: white;
    border: 1px solid rgba(255, 144, 14, 1);
    transition: 0.3s linear;
    cursor: pointer;
}

/* nav bar */

.navbar {
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 102px;
}

.branding {
    color: rgba(19, 19, 19, 1);
    font-size: 4.8rem; 
    /* 1 rem = 10px this has been set in the root*/
}

.nav-links {
    list-style: none;
}

.nav-item {
    margin-right: 50px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    color: rgba(66, 66, 66, 1);
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none ;
}

.nav-link:hover {
    /* text-decoration: underline; */
    border-bottom: 2px solid rgba(255, 144, 14, 1);
    transition: 0.2s linear;
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner section  */

.banner-content {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    color: rgba(19, 19, 19, 1);
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 7.5rem;
    margin-bottom: 35px;
}

.banner-details {
    color: rgba(114, 114, 114, 1);
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 400;
    margin-bottom: 36px;
}

.banner-content button {
    margin-bottom: 55px;
}

.banner img {
    max-width: 100%;
    padding: 0 12px 45px 12px;
}

/* header section responsive media query*/
@media screen and ( max-width: 576px) {
    .navbar {
        flex-direction: column;
        gap: 20px;
    }

    .nav-item {
        margin-right: 30px;
    }
}